python-dotenv 
structlog 

langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-google-genai
langchain-text-splitters
langsmith

docx2txt
ipykernel
python-multipart
faiss-cpu

fastapi
uvicorn[standard]
openai
pandas 

streamlit
tiktoken
rapidocr-onnxruntime