python-dotenv 
structlog 

langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
langchain-groq
langchain-google-genai
langchain-text-splitters
langsmith

transformers
sentence-transformers
torch

docx2txt
ipykernel
python-multipart
faiss-cpu

fastapi
uvicorn[standard]
openai
pandas 

PyYAML

streamlit
tiktoken
rapidocr-onnxruntime

ipywidgets
jupyter
notebook